In [5]:
A=2

In [7]:
A

2

In [7]:
num = 10 # starting number

for i in range(4,0,-1):
    for j in range(0,i):
        print(num, end=' ')
        num-=1
    print() # Move to the next line after each row

10 9 8 7
6 5 4
3 2
1

In [43]:
for i in range(1,5):
    # Print leading spaces
    for j in range(4-i):
        print(' ',end=" ")
    # Print the numbers    
    for j in range(i):
        print(i,end=" ")
    print()  # Move to the next line after each row

      1
    2 2
  3 3 3
4 4 4 4

In [45]:
for i in range(4,0,-1):
    for j in range(0,i):
        print(i,end=" ")
    print()

4 4 4 4
3 3 3
2 2
1

In [1]:
for i in range(1,6):
    for j in range(1,4):
        if(j==3):
            print("loop breaks")
            break
        print(i,end=" ")
    print()

1 1 loop breaks

2 2 loop breaks

3 3 loop breaks

4 4 loop breaks

5 5 loop breaks

In [3]:
for i in range(1,6):
    if(i==3):
        print("loop breaks")
        break
    for j in range(1,4):
        print(i,end=" ")
    print()

1 1 1
2 2 2
loop breaks

In [9]:
for i  in range(1,6):
    if(i==4):
         print("loop skips")
         continue
    print(i,end=" ")
    print()

1
2
3
loop skips
5

In [1]:
for i in range(1,6):
    if(i==3):
        print("loop skips")
        continue
    for j in range(1,4):
        print(i,end=" ")
    print()

1 1 1
2 2 2
loop skips
4 4 4
5 5 5

In [3]:
for i in range(1,6):
    if(i%2==0):
        pass
    else:
        print(i)

1
3
5

In [5]:
num=int(input('Enter a number:'))
fact=1
for i in range(1,num+1):
    fact*=i
print('factorial of',num,'is',fact)

Enter a number: 3

factorial of 3 is 6

In [17]:
string="Mahendran-6066681"
count1=0
count2=0
for i in string:
    if (i.isalpha()):
        count1+=1
    elif(i.isdigit()):
        count2+=1
print("Number of Alphabets is", count1)
print("Number of Digits is", count2)

Number of Alphabets is 9
Number of Digits is 7

In [1]:
for index in range(50,30,-3):
    print(index,end=' ')

50 47 44 41 38 35 32

In [3]:
a=float(input("Enter first number:"))
b=float(input("Enter second number:"))
c=float(input("Enter third number:"))
if a>b:
    if a<c:
        median=a
    elif b>c:
        median=b
    else:
        median=c
else:
    if a>c:
        median=a
    elif b<c:
        median=b
    else:
        median=c
print("The median is:",median)

Enter first number: 3.03
Enter second number: 7.85
Enter third number: 2.87

The median is: 3.03

In [5]:
for i in range(1,26):
    if i%2!=0:
        print(i,end=" ")
print()

1 3 5 7 9 11 13 15 17 19 21 23 25

In [7]:
num=int(input("Enter the number you want to generate a multiplication table for:"))
for i in range(1,11):
    result = num * i
    print(num," * ",i," = ",result)

Enter the number you want to generate a multiplication table for: 5

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [9]:
pal=input("Enter a palindrome:")
revpal=""
for i in pal:
    revpal=i+revpal
print("Reversed string:",revpal)
if(pal==revpal):
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a palindrome: MOM

Reversed string: MOM
Palindrome

In [7]:
population=100000
for i in range(1,11):
    population=population + population * 0.05
    print("Year",i,":",int(population))

Year 1 : 105000
Year 2 : 110250
Year 3 : 115762
Year 4 : 121550
Year 5 : 127628
Year 6 : 134009
Year 7 : 140710
Year 8 : 147745
Year 9 : 155132
Year 10 : 162889